streamlit==1.37.1     # Ensure Streamlit is installed for the web app framework
pandas==2.2.2         # Pandas for handling CSV/XLSX files
openpyxl==3.1.5       # A Python library to read/write Excel 2010 xlsx/xlsm files
